:root {
    --color-brand-accent: #e5a00d;
    --color-static-perrywinkle: #8af;
    --color-static-yellow: #e5a00d;
    --color-static-grey-1: #282a2d;
    --color-static-grey-2: #3f4245;
    --color-static-grey-3: #575b61;
    --color-static-grey-4: #868c96;
    --color-static-grey-5: #b3bac1;
    --color-static-grey-6: #e0e3e6;
    --color-static-grey-7: #f2f3f4;
    --color-static-grey-8: #f9f9f9;
    --color-static-white: #fff;
    --color-static-red: #c72c05;
    --color-static-green: #4db288;
    --color-brand-black: #191919;
    --color-brand-white: #fffbf8;
    --color-brand-gold: #f7c600;
    --color-brand-blue: #15a9fc;
    --color-brand-cerise: #f74366;
    --color-brand-sea-green: #69dd58;
    --color-brand-orange: #c14f30;
    --color-brand-deep-purple: #322d5b;
    --color-brand-maroon: #5b2244;
    --color-brand-forest: #112f27;
    --color-alert-highlight: #f93706;
    --color-confirm-highlight: #4db288;
    --color-overlay-background: #1f1f1f;
    --color-text-primary: #fff;
    --color-text-default: #ffffffcc;
    --color-text-muted: #ffffff99;
    --color-text-accent: #e5a00d;
    --color-text-alert: #f93706;
    --color-text-confirm: #366350;
    --color-text-on-focus: #1c1c1c;
    --color-text-on-accent: #1c1c1c;
    --color-text-on-alert: #fff;
    --color-text-on-confirm: #fff;
    --color-background-backdrop: #000000cc;
    --color-background-control: #ffffff1a;
    --color-background-card: #0000004d;
    --color-background-modal: #1c1c1c;
    --color-background-focus: #fff;
    --color-background-accent: #e5a00d;
    --color-background-alert: #952104;
    --color-background-alert-muted: #190501;
    --color-background-confirm: #366350;
    --color-background-success: #08120e;
    --color-background-informative: #0a0f19;
    --color-background-accent-focus: #f3b125;
    --color-background-alert-focus: #a12303;
    --color-background-control-focus: #ffffff2e;
    --color-highlight-focus: #fff;
    --color-highlight-control-focus: #88aaffcc;
    --color-highlight-alert: #f93706;
    --color-highlight-success: #4db288;
    --color-highlight-informative: #69f;
    --color-highlight-modal: #0000004d;
    --color-primary-background-100: #fff;
    --color-primary-background-80: #ffffffcc;
    --color-primary-background-60: #ffffff99;
    --color-primary-background-30: #ffffff4d;
    --color-primary-background-10: #ffffff1a;
    --color-primary-background-5: #ffffff0d;
    --color-primary-foreground-100: #fff;
    --color-primary-foreground-80: #ffffffcc;
    --color-primary-foreground-60: #ffffff99;
    --color-primary-foreground-30: #ffffff4d;
    --color-primary-foreground-10: #ffffff1a;
    --color-primary-foreground-5: #ffffff0d;
    --color-surface-background-100: #000;
    --color-surface-background-80: #000000cc;
    --color-surface-background-60: #00000099;
    --color-surface-background-30: #0000004d;
    --color-surface-background-10: #0000001a;
    --color-surface-background-5: #0000000d;
    --color-surface-foreground-100: #fff;
    --color-surface-foreground-80: #ffffffcc;
    --color-surface-foreground-60: #ffffff99;
    --color-surface-foreground-30: #ffffff4d;
    --color-surface-foreground-10: #ffffff1a;
    --color-surface-foreground-5: #ffffff0d;
    --color-ultrablur-tl: #171717;
    --color-ultrablur-tr: #1c1c1c;
    --color-ultrablur-br: #414141;
    --color-ultrablur-bl: #272727;
    --color-menu: #202629;
    --color-keyboard-focus: #8af;
}
